from dotenv import load_dotenv
import os

load_dotenv()

SMTP_HOST = os.getenv("SMTP_HOST")
SMTP_PORT = int(os.getenv("SMTP_PORT"))

SMTP_USER = os.getenv("SMTP_USER")
SMTP_PASS = os.getenv("SMTP_PASS")

FROM_EMAIL = os.getenv("FROM_EMAIL")

BASE_URL = os.getenv("BASE_URL")
DB_PATH = os.getenv("DB_PATH")

REDIRECT_URL = os.getenv("REDIRECT_URL")